body, .md-chips {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.hint {
    color: grey;
    font-size: 12px;
    padding-top: 34px;
}

.main {
    height: 100vh;
}

.results {
    margin: 10px;
}

ul {
    list-style: none;
}

/*.results { 
    -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.results {
    top: 0;
}*/

.results.ng-hide {
    top: 100%;
}

@media screen and (min-width: 600px) {
    .results {
        max-width: 75%;
    }
}

md-sidenav {
    min-width: 300px;
}

/* chips are read only no input necessary */ 
._md-chip-input-container {
    display: none;
}

/* smaller md-chips */
/*.md-chips md-chip {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}*/

md-select {
    padding: 0 10px;
}