<md-progress-linear md-mode="indeterminate" ng-if="loading"></md-progress-linear>
<div layout="row" class="main">
	<ng-include style="display: flex" src="'/partials/sidenav.html'"></ng-include>
	<div layout="column" layout-align="center center" flex>
		<h1>Social Service Providers</h1>
		<md-content ng-show="providers" class="results" layout-padding layout="center center">
			<div ng-if="providers.length === 0">No results found</div>
			<ul>
				<li ng-repeat="p in providers">
					<a href="/#/provider/delete/{{p._id}}" ng-show="false">
						<i class="glyphicon glyphicon-remove">Delete {{p._id}}</i>
					</a>
					<ah-provider provider="p"/>
				</li>
			</ul>
		</md-content>
		</div>
	</div>
</div>