<h1>Add a Provider</h1>

<form>
    <div class="form-group">
        <label>Name</label>		
        <input class="form-control" ng-model="provider.name"></input>
    </div>
    <div class="form-group">
        <label>Phone</label>		
        <input class="form-control" ng-model="provider.phone"></input>
    </div>
    <div class="form-group">
        <label>Street</label>		
        <input class="form-control" ng-model="provider.street"></input>
    </div>
    <div class="form-group">
        <label>City</label>		
        <input class="form-control" ng-model="provider.city"></input>
    </div>
    <div class="form-group">
        <label>State</label>		
        <input class="form-control" ng-model="provider.state"></input>
    </div>
    <div class="form-group">
        <label>Zip Code</label>		
        <input class="form-control" ng-model="provider.zip"></input>
    </div>
    <div class="form-group">
        <label>Services Offered</label>		
        <input class="form-control" ng-model="provider.services"></input>
    </div>
    <div class="form-group">
        <label>Counties Served</label>		
        <input class="form-control" ng-model="provider.counties"></input>
    </div>
    <div class="form-group">
        <label>Website</label>		
        <input class="form-control" ng-model="provider.website"></input>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="provider.description"></textarea>
    </div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>	
</form>